<% include ../partials/header %>

<div class = "container-fluid">
    <br>
    <div class = "text-center">
        <img src = "https://68.media.tumblr.com/5194b54a7abd485715a044f774ee6e01/tumblr_orkfx68wwq1rd8b7uo2_1280.png" width = "500">
    </div>
    <form action = "/posts" method="POST">
        <div class = "form-group" style="width: 50%; margin: 25px auto;">
            <label>Video URL</label>
            <input class = "form-control" type = "text" name = "post[videoURL]" placeholder = "video url" required>
        </div>
        <div class = "form-group" style="width: 50%; margin: 25px auto;">
            <label>Static Image URL</label>
            <input class = "form-control" type = "text" name = "post[image]" placeholder = "static image" required>
        </div>
        <div class = "form-group" style="width: 50%; margin: 25px auto;">
            <label>Overlay Image URL</label>
            <input class = "form-control" type = "text" name = "post[overlay]" placeholder = "overlay image" required>
        </div>
        <div class="form-group" style="width: 50%; margin: 25px auto;">
            <label>Caption</label>
            <input type="text" name = "post[caption]" class="form-control" placeholder="caption" required>
            <br>
            <button type="submit" class="btn btn-secondary btn-block">Submit</button>
        </div>
    </form>
</div>

<br>


<% include ../partials/footer %>