<% include ../partials/header %>

<br>


<div class = "container">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="<%= post.videoURL %>" allowtransparency="true" style="background: #FFFFFF;"></iframe>
    </div>
</div>


<br>

<% include ../partials/footer %>