<% include partials/header %>

<div class = "jumbotron">
    <div class = "container">
        <br>
        <div class = "text-center">
            <img src="https://68.media.tumblr.com/0d8c809da8f9b5cb972b04f5671e1231/tumblr_orjx0e9jmH1rd8b7uo1_1280.png" width = "700" alt="Because I already wear glasses.">
        </div>
        <p class="lead">I recently got a really cool piece of useless tech called <a href="https://www.spectacles.com/">Snapchat Spectacles</a> and I plan on taking a ton of videos. Here's where I put them.</p>
        <br>
        <p class = "text-center">
            See all of the videos I take.
            <br>
            <br>
            <a href = "/posts">
                <button type = "button" class = "btn btn-secondary">see posts</button>
            </a>
        </p>
    </div>
</div>


<% include partials/footer %>